button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
   
  }

  /* Image Preview Start ------------------- */

  .preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .preview-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .preview-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
  }
  
  .preview-item p {
    margin: 0;
    margin-right: 10px;
  }

  
  /* Image Preview End ------------------- */