<!-- <app-header></app-header> -->

<app-sidemenu/>

  <!-- Main content -->
  <div class="main-content"  [ngClass]="{'shifted': isSidebarOpen}">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    


      <svg (click)="toggleSidebar()"   [ngClass]="{'open': isSidebarOpen, 'close': !isSidebarOpen}" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container mt-4">
        <router-outlet/>
    </div>
  </div>




<!-- <app-footer> -->